
.fondo{
    background-image:url(/img/fondo1.jpg);
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /*background-attachment: fixed;  Deja la imagen del fondo fija.*/
    
}

.img-perfil{
  width: 40%;
  margin: auto;
}

html {
    min-height: 100%;
    
  }

  body {
    display: flex;
    flex-direction:column;
    min-height: 100%;

  }

  footer{

  display: block;
}

#footer {
  position: fixed;
  bottom: -40px;
  left: 0px;
  right: 0px;
  height: 50px;
}

/*
html {
op 2
  para el footer.

  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
 
}
footer {
  position: absolute;
  bottom: 0;
}
*/

