<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        
        <footer class="text-muted py-5">
            <div class="containerFooter">
                <p class="mb-1">Album example is &copy; Bootstrap,<br>but please download and customize it for yourself!</p>
                <p class="mb-0">New to Bootstrap? <a href="/"><br>Visit the homepage</a> or read our <a href="../getting-started/introduction/">getting started guide</a>.</p>
                <p class="float-end mb-1">
                    <a href="#" style="text-decoration:none"><span>⬆️</span> Back to top</a>
                </p>
            </div>
        </footer>
        
        
    </body>
</html>
