<!DOCTYPE html>
<html lang="es"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <head th:insert ="/fragments/head :: head"> </head>
    </head>
    <body>
        
        <nav th:insert="/fragments/navbar :: nav"> </nav>

        <div class="fondo " >  
           
            <div class="container m-5 p-2 " >
                <br>
                <div class="d-inline-flex">
                    <h2>Listado de Usuarios:</h2>             
                                     
                </div>
                <br>
                <table class="table table-bordered table-warning table-striped mt-3">
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Foto de Perfil</th>
                            <th scope="col">Rol</th>
                            <th class="col-2" scope="col" sec:authorize = "hasRole('ADMIN')">Cambiar Rol</th>
                            <th class="col-2" scope="col" sec:authorize = "hasRole('ADMIN')">Acciones</th>
                        </tr>
                    </thead>
                    <tbody th:each="user : ${usuarios}"> 
                        <tr>
                            <th scope="row" th:text="${user.id}"></th>
                            <td th:text="${user.nombre}"></td>
                            <td >
                                <a>
                                    <img th:if="${user.imagen != null}" class="img-perfil" th:src="@{/imagen/perfil/__${user.id}__}" alt="imagen perfil.">
                                </a>
                            </td>
                            <td th:text="${user.rol}"></td>
                            <td > 
                                
                                <a sec:authorize = "hasRole('ADMIN')" th:href= "@{/modificarRol/__${user.id}__}" class="btn btn-sm btn-success"> Cambiar Rol </a>
                            </td>
                            <td>
                                <a sec:authorize = "hasRole('ADMIN')" th:href= "@{/usuario/modificar/__${user.id}__}" class="btn btn-sm btn-primary"> Modificar </a>
                                <a sec:authorize = "hasRole('ADMIN')" th:href= "@{/usuario/eliminar/__${user.id}__}" class="btn btn-sm btn-danger"> Eliminar </a>
                            
                            </td>
                        </tr>

                    </tbody>
                </table>

                <!-- Fin de Tabla -->
                
                <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensajeExito" >
                    <div class="card-body">
                        <h5 class="card-title">Exito </h5>
                        <p class="card-text" th:text="${exito}"></p>
                    </div>
                </div>
                <div th:if="${error}!=null" class="card text-white bg-danger mb-3 mensajeError" >
                    <div class="card-body">
                        <h5 class="card-title">Error</h5>
                        <p class="card-text" th:text="${error}"></p>
                    </div>
                </div>
                <!-- Fin de Cartas Exito/Error -->

                <!--

                
                <section class="py-5 text-center container">
                    <div class="row py-lg-5">
                        <div class="col-lg-6 col-md-8 mx-auto">
                            <a th:href="@{/}" sec:authorize="isAuthenticated()" class="btn btn-secondary my-2">Volver</a>
                            </p>
                        </div>
                    </div>
                </section>
                -->

                <!-- Fin de Boton volver -->

            </div>
            <footer th:insert="/fragments/footer :: footer"></footer>   
        </div>
    
       

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    </body>
</html>